<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MODAL</title>
</head>
<body>

<th:block th:fragment="modal">

<!-- Small Modal Form -->
<div class="modal fade" id="modal-sm-form">
	<div class="modal-dialog modal-sm">
		<div class="modal-content" id="modal-sm-form-content">
		</div>
	</div>
</div>
<!-- Large Modal Form -->
<div class="modal fade" id="modal-lg-form">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" id="modal-lg-form-content">
		</div>
	</div>
</div>
<!-- Extra Large Modal Form -->
<div class="modal fade" id="modal-xl-form">
	<div class="modal-dialog modal-xl">
		<div class="modal-content" id="modal-xl-form-content">
		</div>
	</div>
</div>

</th:block>

</body>
</html>