@charset "utf-8";
* {
	padding: 0;
	margin: 0;
	;
}
.it1 {
	font-family: 'Pretendard';
	line-height: 140%;
	padding:1.2rem 2.5rem
}
.it1 ul, dl {
	list-style: none;
}
.it1 ul {
	margin: 1rem;
}
.it1 ol {
 
}
.it1 li {
	list-style-position: outside;
	list-style-type: "-";
	padding-left:0.5rem;
	margin-left:1.8rem;
}
.it1 ol li {
	list-style-type: decimal;
}
.it1 p {
	padding:1rem 2rem;
}
.it1 {
	margin: 0 auto;
}
.it1 .title {
	font-size: 2rem;
	width: 100%;
	margin: 1rem 0;
	line-height: 150%;
	border-bottom:  double #8d8d8d;
	text-align: center;
	color: #2d51ad;
}
.it1 h2 {
	font-size:1rem;
	display: flex;
}
.it1 h2 span {
	display: inline-block;
	margin-right: 0.5rem;
}
.it1 h2 span::before {
	content:"※";
}
.it1 h3 {
	padding: 0.7rem 0 0.5rem 1rem;
	font-size: 1rem;
	border-bottom: 1px solid #ccc;
	background: #ebebeb; border-radius: 5px 5px 0 0;
}
.it1 h3::before {
	content: "▶";
	padding: 0 0.5rem 0 0;
}
.it1 h4 {
	font-weight: normal;
	font-size: 1.05rem;
	margin:0 0 1rem 0;
}
.it1 dl {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	margin-left: 1.2rem;
	align-items: center;
}
.it1 dt {
	display: inline-block;
	font-weight: 600;
	line-height: 200%;
}
.it1 dt::before {
	content: "◆";
	padding-right: 0.3rem;
}
.it1 dt::after {
	content: ":";
	padding:0 1rem;
}
.it1 dd {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
}
.it1 dd p {
	margin:0 0 0 0;
}
.it1 dd p span {
	width: 8rem;
	display: inline-block;
}
.it1 .box {
	border-radius: 0.4rem;
	box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,.05);
	border: 1px solid #8d8d8d;
	margin-bottom: 1rem;
}
.it1 .box .content table {font-size: 80%; margin: 0 0 1rem 0;}
.it1 .box .content table th span{font-weight: normal;  }
.it1 .box .content table th{padding: 0.5rem;}
.it1 .box .content table td{padding: 0.5rem;}
.it1 .box ul {
	margin: 0 0 0 0;
}
.it1 .box .title {
	margin: 0 0 1rem 0;
}
.it1 .box .content {
	padding: 1rem;
}
.it1 .box .content h4 { margin: 0.5rem 0; display: flex; align-items: center;}
.it1 .box .content h4::before {
	content: "■";
	font-size: 0.5rem;
	padding-right: 0.3rem;
	color: #8099af;
}
.it1 .box .content h3 {
	border: none;
	padding: 1rem 0 0 0;
	background: none;
}
.it1 .box .content h2 {
	margin-top: 1rem;
	font-size: 1.1rem;
	margin-bottom: 0.3rem;
}
.it1 .fc-red {
	color:rgb(255, 0, 0)
}
.it1 .fc-bl {
	color:#2d51ad;
}

 
.it1 table {
	width: 100%;
	text-align: center;
	min-width: 50px;
	margin:1rem 0;
	border-top: 2px solid rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,.5);
	
 
}

.it1 .table .row th{ text-align: center }
.it1 .table .row td{ text-align: center}
.it1 th, td {
	border-top: 1px solid #ccc;
	text-align:left;
 
}
.it1 tr:first-child th{border-top: none;}
.it1 tr:first-child td{border-top: none;}
 
.it1 th{width: 35%; background: #30518312;}
.it1 .card {
	margin: 0 auto;
	margin:1rem 0;
	border: 1px solid #333;
	padding: 1rem 2rem;
	;
}
.it1 .card h4 {
	background: #0c2763;
	text-align: center;
	color: #fff;
	padding: 0.7rem;
	margin:1rem 0;
	font-size: 1.3rem;
}
.it1 .card dl {
	font-size: 1.05rem;
}
.it1 .card p {
	text-align: center;
	padding: 0;
}
.it1 .bgg {
	background: #eaeaee;
}
.it1 .name {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1rem 0;
}
.it1 .name span {
	width: 8rem;
	display: inline-block;
	border-bottom: 2px solid;
}
.it1 .date {
	width: 100%;
}
.it1 .date ul {
	display: flex;
	justify-content: flex-end;
}
.it1 .date ul li::before {
	content: none;
}
.it1 .date ul li span {
	width: 5rem;
	display: inline-block;
}
.it1 .if-f {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 78%;
}
.it1 .item {
	width: 49%;
}
.it1 .item ol {
	margin: 0;
}
.it1 .item p {
	padding: 0 0 0 0;
}
.it1 .item ul {
	padding: 0;
	margin: 0;
}
.it1 .if-f .box {
	padding: 0 0.5rem;
	border-radius: 0;
}
.it1 .if-f .box ul {
	margin:0;
}
.it1 .if-f .box p {
	padding: 0;
}
.it1 .if-f h3 {
	background: #0c2763 !important;
	color: #fff;
	margin-top: 0.5rem;
	padding: 0.3rem 1rem !important;
	border: 0;
	word-break: break-all;
	font-size: 0.9rem;
	font-weight: normal; 
}

.it1 .st {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
}
.it1 .st li {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.it1 .st li ol {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.it1 .st ol li {
	align-items: center;
	border:none;
	text-align: center;
	font-size: 0.8rem;
	word-break: keep-all;
	background: #eaeaee;
	width: 49%;
	padding: 0.05rem;
	margin: 0.05rem 0 0.08rem;
}
.st ol li:last-child:after {
	content: "";
	padding: 0 0.3rem;
	font-weight: bold;
}
.it1 .item .title {
	font-weight: bold;
	font-size: 1.05rem;
	text-align: center;
	border: 1px solid #333;
	display: block;
	width: 100%;
	margin:0.3rem 0;
}
@media (max-width: 500px) {
.it1 .title {
	font-size: 1.58rem;
	word-break: keep-all;
	padding: 1rem 0;
}
.it1 .tst2 {
	border:  double #8d8d8d;
	text-align: center;
	border-radius: 1rem;
}
.it1 .tst1 {
	border-bottom:  double #8d8d8d;
	text-align: center;
}
.it1 dl {
	flex-direction: column;
	align-items: flex-start;
}
.it1 dd {
	margin-left: 1.5rem;
}
.it1 dd p {
	margin-left:0rem;
}
.it1 .card {
	padding: 0.5rem;
}
.it1 .item {
	width: 100%;
}
}
